@import"https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800;900&display=swap";
@import"https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;800;900&display=swap";
body{font-family:"Raleway",sans-serif}
.bg-black{background-color: #010101;}
.bg-light-grey{background-color: #f5f5f5;}
.main-menu-link{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
}
.font-size25{font-size: 25px;}
.main-menu-link:hover{color:#FFF;}
.background_video{
    max-width:100%;
    height:auto;
}
.video_text_block{
    z-index:9999;
    text-align: left;
    position: absolute;
    left:50px;
    right: 0px;
    width: 700px;
    top:200px;
}

.animate_main_head{
    font-family:"Raleway",sans-serif;
    font-size: 32px;
    text-transform:  capitalize;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #ffffff;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
    right: 0;
}
.animate_main_sub_head{
    font-family:"Raleway",sans-serif;
    font-size: 22px;
    text-transform:  capitalize;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #e8e8e8;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
    right: 0;
}
.animate_main_tag_link{
    background-color: #1a202e;
    color: #ffffff;
    font-weight: 500;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    margin-bottom: 8px;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    transition: all 0.9s ease;
}
.animate_main_tag_link:hover{
    text-decoration: none;
    color: #000;
    background-color: #FFFFFF;

}
.main_heading_text{
    color: #000000;
    font-size: 36px;
    font-weight: 900;
    font-family: "Lato",sans-serif;
}
.main_heading_text:after {
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    background-color: #2aa1cb;
    margin-top: 8px;
    margin: 0 auto;
}
.study_smart_adv{
    padding: 20px 15px 20px 15px;
    text-align: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f4fcff;
    max-height: 350px;
    height: 280px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
}
.study_smart_adv h2{
    font-family: "Lato",sans-serif;
    font-weight: 800;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #252525;
}
.study_smart_adv p{
    color: #797979;
    font-size: 14px;
    font-weight: 500;
    font-family: "Lato",sans-serif;
}
.success_stories{
    padding: 20px 15px 20px 15px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fbfbfb;
    max-height: 350px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);   
}
.success_stories h2{
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 10px;
    color: #1b1a1a;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 25px;
}
.success_stories h4{
    color: #191919;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato",sans-serif;
}
.success_stories h5{
    color: #3e3e3e;
    font-size: 16px;
    font-weight: 500;
    font-family: "Raleway",sans-serif;
}
.success_stories img{
    width: 80px !important;
}
.mileStones h2{
    font-size: 30px;
    font-weight: 600;
    color: #1a1a1a;
}
.mileStones p{
    font-size: 16px;
    color: #333333;
}
.our-teams{
    padding: 20px 10px 20px 10px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fbfbfb;
    max-height: 350px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
}
.our-teams .profile_pic{
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    height: 190px;
}
.our-teams img{
    width: 120px !important; 
    text-align: center;
    margin: 0 auto;
}
.our-teams h2{
    color: #1a1a1a;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 0px;
}
.our-teams p{
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
}

.main_footer_block {
    padding: 50px 0 0px 0;
    left: 0;
    background-color: #010101;
}
.main_footer_block .footer_para {
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 12px;
}
.main_footer_block .footer_head {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}
.main_footer_block .footer_ul_li_a a {
    font-size: 13px;
    color: #FFFFFF;
}
.main_footer_block .footer_ul_li_social a {
    font-size: 20px;
}
.text-decoration-none:hover{text-decoration: none;}
.whatsapp_block{
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    left: 20px;
}
.back_to_top{
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    right: 20px;
}

#team_profile_picture img{width: 100px;}
#team_member_name{color: #1a1a1a;font-family: 'Lato', sans-serif;font-weight: 400;font-size: 25px;margin-bottom: 0px;}
#team_member_desination{color: #333333;font-family: 'Lato', sans-serif;font-weight: 400;font-size: 16px;line-height: 20px;}
#team_member_comments{color: #333333;font-family: 'Lato', sans-serif;font-weight: 400;font-size: 15px;line-height: 18px;text-align: justify;}
.page-heading-text{color: #1a1a1a;font-family: 'Lato', sans-serif;font-weight: 400;font-size: 35px;}
.page-para-text{color: #333333;-webkit-tap-highlight-color: rgba(233,80,149,0.2);font-family: 'Lato', sans-serif;font-size: 16px;font-weight: 500;}
.courses_block{border: 1px solid #ccc;padding: 10px;border-radius: 10px;background: #f9f9f9;box-shadow: 1px 2px 3px 1px #f1f1f1;}





/**Responsive Css**********************************************************/
@media only screen and (max-width: 763px) {
    .video_text_block{
        top: 30px;
        left: 20px;
        width: unset;
    }
    .animate_main_head{
        font-size: 22px;
    }
    .animate_main_sub_head{
        font-size: 17px;
    }
    .animate_main_tag_link{
        padding: 10px 15px;
        font-size: 14px;
        letter-spacing: 2px;
    }
    .success_stories{
        height: 320px;
    }
}
